{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# TODO Needs to be traslated #}
    <title>{% block title %}{{ site_title|default:_('聚吧') }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'event_scheduling/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'event_scheduling/css/material-fullpalette.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'event_scheduling/css/ripples.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'event_scheduling/css/roboto.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'event_scheduling/css/mprogress.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'event_scheduling/css/snackbar.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'event_scheduling/css/style.css' %}" />
  </head>
  <body>
    <div id="loaderDiv" style="width:100%; margin:0px;padding:0px; z-index:51;height:5px;">&nbsp;</div>
    {% block body %}{% endblock %}
    <script src="{% static 'event_scheduling/js/jquery-1.11.3.min.js' %}" ></script>
    <script src="{% static 'event_scheduling/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/material.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/ripples.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/mprogress.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/snackbar.min.js' %}"></script>
  </body>
</html>