{% extends "event_scheduling/base_site.html" %}
{% load staticfiles %}
{% block body %}
    <div class="container" id="homeContainer">
        <br>

        <div class="row">
            <div class="col-xs-8">
                <div class="" style=" margin-top:6px; margin-bottom:6px;">
                    <input type="text" placeholder="点击输入事件标题" id="eventTitleCreate" class="titleCreate"
                           style="display: inline-block;">
                </div>
                <div class="" style=" margin-top:6px; margin-bottom:6px;">
                    <input type="text" placeholder="名字" id="organizerNameCreate" class="titleCreate"
                           style="display: inline-block;">
                </div>
            </div>

            <div class="col-xs-4">
                <div class="" style="text-align:center;margin-top:6px; margin-bottom:6px;">

                    <button id="allDoneCreate" class="btn btn-raise btn-material-pink-A200"
                            style="width:100%;float:right; height:72px;margin:0;padding-top: 0px;padding-bottom: 0px;">
                         <i id="allDoneCreate" class="mdi-action-done visible-xs"></i><span class="hidden-xs">继续</span>
                    </button>

                </div>
            </div>
        </div>
        <div class="" style="text-align:center;margin-top:6px; margin-bottom:6px;">
            <div id="whatToDo" style="width:100%;">&#9650; 给活动取个名字</div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading" id="pickerHeader">
                        时间
                        <div id="dateCount"></div>
                    </div>
                    <div id="datepicker"></div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-xs-12" id="loaderDiv"
         style="width:100%; margin:0px; padding-left:0px; padding-right:0; z-index:51;height:3px; position:absolute; bottom:0px;">
        &nbsp;</div>
    <a id="planALink" href="{% url 'event_scheduling:index' %}">聚吧 <strong>J</strong>vba
        {#        <small style="font-size:0.7em; color:#888888;">出品</small>#}
    </a>


{% endblock %}

{% block additionaljs %}
    <script>
        var add_whole_day_url = "{% url 'event_scheduling:add_whole_day' %}";
        var DATE_STR_SPLITTER = "{{ DATE_STR_SPLITTER }}";
        var MAX_TITLE_LENGTH = {{ MAX_TITLE_LENGTH }};
        var MIN_TITLE_LENGTH = {{ MIN_TITLE_LENGTH }};
        var MIN_NAME_LENGTH ={{ MIN_NAME_LENGTH }};
    </script>
    <script src="{% static 'event_scheduling/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/fastclick.js' %}"></script>
    <script src="{% static 'event_scheduling/js/velocity.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/create_date.js' %}"></script>

{% endblock %}