{% extends "event_scheduling/base_site.html" %}
{% load staticfiles %}
{% block additionalcss %}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'event_scheduling/css/nouislider.min.css' %}"/>#}
{% endblock %}
{% block body %}
    <div class="container" id="homeContainer">
        <br>

        <div class="row">
            <div class="col-xs-8">
                <div class="" style=" margin-top:6px; margin-bottom:6px;">
                    <input type="text" placeholder="点击输入事件标题" id="eventTitleCreate" class="form-control titleCreate"
                           style="display: inline-block;background-image:  linear-gradient(#FF80AB,#FF80AB),linear-gradient(#d2d2d2,#d2d2d2)">
                </div>
                <div class="" style=" margin-top:6px; margin-bottom:6px;">
                    <input type="text" placeholder="名字" id="organizerNameCreate" class="form-control titleCreate"
                           style="display: inline-block;background-image:  linear-gradient(#FF80AB,#FF80AB),linear-gradient(#d2d2d2,#d2d2d2)">
                </div>
            </div>

            <div class="col-xs-4">
                <div class="" style="text-align:center;margin-top:6px; margin-bottom:6px;">
                    <div class="col-xs-12" id="loaderDiv"
                         style="width:100%; margin:0px; padding-left:0px; padding-right:0; z-index:51;height:3px; margin-top: -3px">
                        &nbsp;</div>
                    <button id="allDoneCreate" class="btn btn-raise btn-material-pink-A200"
                            style="width:100%;float:right; height:72px;margin:0;padding-top: 0px;padding-bottom: 0px;">
                        <i id="allDoneCreate" class="mdi-action-done visible-xs"></i><span class="hidden-xs">继续</span>
                    </button>

                </div>
            </div>
        </div>
        <div class="" style="text-align:center;margin-top:6px; margin-bottom:6px;">
            <div id="whatToDo" style="width:100%;">&#9650; 给活动取个名字</div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-xs-12">
                <div class="date-picker-panel panel panel-default">
                    <div class="panel-heading" id="pickerHeader">
                        时间
                        <div id="dateCount"></div>
                    </div>
                    <div id="datepicker"></div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-xs-4">
                <button class="date-type-selector date-type-selector-unselected btn dark-bg-primary "
                        data-time-type={{ TIME_TYPE_WHOLE_DAY_TIME }} style="">全天活动
                </button>
            </div>
            <div class="col-xs-4">
                <button class="date-type-selector date-type-selector-unselected btn dark-bg-primary"
                        data-time-type={{ TIME_TYPE_MORNING_AFTERNOON_EVENING_TIME }} style="">早 &middot; 中 &middot; 晚
                </button>
            </div>
            <div class="col-xs-4">
                <button class="date-type-selector date-type-selector-unselected btn  dark-bg-primary "
                        data-time-type={{ TIME_TYPE_PRECISE_TIME_TIME }} style="">精确时间
                </button>
            </div>

        </div>


    </div>


{% endblock %}

{% block additionaljs %}
    <script>
        var add_whole_day_url = "{% url 'event_scheduling:add_dates_for_whole_day_event' %}";
        var add_dates_for_precise_time_event_url = "{% url 'event_scheduling:add_dates_for_precise_time_event' %}";
        var DATE_STR_SPLITTER = "{{ DATE_STR_SPLITTER }}";
        var MAX_TITLE_LENGTH = {{ MAX_TITLE_LENGTH }};
        var MIN_TITLE_LENGTH = {{ MIN_TITLE_LENGTH }};
        var MIN_NAME_LENGTH ={{ MIN_NAME_LENGTH }};
        var TIME_TYPE_WHOLE_DAY_TIME = {{ TIME_TYPE_WHOLE_DAY_TIME }};
        var TIME_TYPE_MORNING_AFTERNOON_EVENING_TIME = {{ TIME_TYPE_MORNING_AFTERNOON_EVENING_TIME }};
        var TIME_TYPE_PRECISE_TIME_TIME = {{ TIME_TYPE_PRECISE_TIME_TIME }};

    </script>
    <script src="{% static 'event_scheduling/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/fastclick.js' %}"></script>
    <script src="{% static 'event_scheduling/js/velocity.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/nouislider.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/create_date.js' %}"></script>

{% endblock %}