{% extends "event_scheduling/base_site.html" %}
{% load staticfiles %}
{% block body %}
    <div class="text-center"
         style="background-color: #3f51b5;
/*box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);*/
         ">
        <br><br><br>

        <h3 class="page-title dark-bg-primary" style="">来被单儿，找共同时间</h3><br>
        <span class='dark-bg-secondary' style="font-size:1.2em;">完全免费 &middot; 无需注册 &middot; 不用下载</span>
        <br><br><br>
    </div>
    <div class="container-fluid" style="max-width:640px;">
        <div style="margin-top: -20px">
            <button id="send-suggestion-email-btn" class="btn btn-fab btn-material-pink-A200 pull-right"
                    style="width: 40px; height: 40px"><i class="mdi-content-send"
                                                         style="font-size: 20px; top: -14px; right: 3px;"></i></button>
        </div>
        <br><br><br>

        <div class="text-center" style="text-align:center">
            <a href="{% url 'event_scheduling:create_date' %}" class="btn btn-lg btn-raised btn-material-pink-A200"
               style="color:rgba(255,255,255,1);width: 200px;height: 50px;padding-top: 13px;">
                <i class="mdi-action-open-in-new" style="font-size:1em"></i> 新建活动
                {# Seriously, wtf is this supposed to mean #}
            </a>
            <br><br>
        </div>
        <hr>
        <br>

        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-6 col-md-offset-3">
                <strong class="light-bg-secondary"> &middot; 被单儿是什么&middot; </strong><br>
                  <span style="font-size: 0.87em; " class="light-bg-secondary">
                        被单儿使用简洁的一步到位的方式，为你们的活动，聚会，咪挺（Meeting）寻找共同时间。
                    </span>
                <br><br>
                 <strong class="light-bg-secondary"> &middot; 如何使用被单儿&middot; </strong><br>
                    <span style="font-size: 0.87em; " class="light-bg-secondary">
                        <i class="mdi-action-schedule"
                           style="font-size:1.2em; color:#3f51b5;"></i> 为活动取一个名字并设置供选择日期</br>
                        <i class="mdi-social-share" style="font-size:1.2em;color:#3f51b5;"></i> 把地址分享给朋友们</br>
                        <i class="mdi-social-people" style="font-size:1.2em;color:#3f51b5;"></i> 朋友们选择他们适合的时间</br>
                        <i class="mdi-social-mood" style="font-size:1.2em;color:#3f51b5;"></i> 找到共同时间，来一场聚会吧！</br>
                    </span>
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="text-center col-xs-offset-1 col-xs-10 col-md-6 col-md-offset-3 ">
                <img alt="封面图片" class="shadow-z-2 img-responsive"
                     src="{% static "event_scheduling/images/index-promo-img.PNG" %}">
            </div>
        </div>

    </div>
    <div class="modal" id="myModal" style="vertical-align: middle">

        <div class="modal-dialog" style="">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">想对我（被单儿的创造者）说什么？<br>
                        <small>直接在下框中输入点击发送。请记得写上您的联系方式</small>
                    </h4>
                </div>
                <div class="modal-body">
                    <textarea id="suggestion-text" class="form-control" rows="2" id="comment"
                              style="background-image: linear-gradient(#ff80ab,#ff80ab),linear-gradient(#d2d2d2,#d2d2d2);"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="confirm-btn" type="button" class="btn btn-material-pink-A200">
                        发送
                    </button>
                </div>
                <div class="col-xs-12" id="loaderDiv"
                     style="width:100%; margin:0px; padding-left:0px; padding-right:0; z-index:51;height:3px; bottom:0px">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionaljs %}
    <script src="{% static 'event_scheduling/js/index.js' %}"></script>
    <script>
        var SEND_EMAIL_URL = "{% url 'event_scheduling:send_email' %}";
    </script>
{% endblock %}