{% extends "event_scheduling/base_site.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="page-title">聚吧 <strong>J</strong>vba</h1>

                <div id="promoList">
                    {# TODO f**king refine the sentence please #}
                    <span style="color:green; font-size:1.3em;">来聚吧，找你们的共同时间</span><br><br>

                    <div style="text-align:center">
                        {# TODO: the href needs to be resolved #}
                        <a href="/create" class="btn btn-lg btn-success" style="padding-left:8px; padding-right:8px;">
                            新建时间 {# Seriously, wtf is this supposed to mean #}
                        </a>
                        <br><br>
                    </div>
                    免费，无需注册，不用下载～

                </div>

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
{% endblock %}