{% extends "event_scheduling/base_site.html" %}
{% load staticfiles %}
{% block body %}
    <br>
    <div class="container" id="homeContainer" style="visibility: visible;">
        <div class="row">
            <div class="col-xs-12" style="padding-left:4px; padding-right:4px; margin-top:6px; margin-bottom:0px;">
                <div id="eventTitle">{{ event.name }}</div>
            </div>
        </div>
        {% if event.description %}
        <div class="row light-bg-secondary" style="padding-left: 4px;">
            {{ event.description }}
        </div>
        {% endif %}
        <div class="row">
            <hr style="margin-right: 4px;margin-top: 5px;margin-left: 4px;">
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-left:4px; padding-right:4px; margin-top:6px; margin-bottom:6px;">

                <div id="whatToDo" style="margin-top:2px;display:none;">&#9660; Set your name</div>
                <button id="cantGo" class="btn btn-sm btn-warning " style="display:none; color:rgba(255,255,255,1)">
                    没有时间
                </button>
                <button id="allDone" class="btn btn-sm btn-success " style="display:none;color:rgba(255,255,255,1)">
                    提交
                </button>
                <button id="edit" class="btn btn-sm btn-info" style="color:rgba(255,255,255,1)">编辑
                </button>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-3" style="padding: 0px">
                <div id="loaderDiv"
                     style="width:100%; margin:0px; padding-left:0px; padding-right:0; z-index:51;height:3px;">
                    &nbsp;
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-xs-3 shadow-z-2 " style="padding-left:4px; padding-right:0; ">

                <table id="leftNames">
                    <tr>
                        <td id="firstMonth"></td>
                    </tr>
                    <tr>
                        <td><input style="background-color: inherit" type="text" id="yourName" placeholder="你的名字"/>
                    </tr>

                </table>
            </div>
            <div class="col-xs-9" style="padding-left:4px; padding-right:4px;">
                <div id="rightScroller" style="">
                    <table id="rightDates">
                        <tr id="dateInserter"></tr>
                    </table>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 24px">
            <div class="col-xs-12" style="">
                <div class="" style="display:none;padding-left:4px;" id="linkMessage">


                    <div id="urlMessage"><strong>现在做什么？</strong> 复制本页链接或者点击“复制链接”，然后分享给朋友。收藏本页，重新进入时就可以看到朋友们的投票了。
                    </div>

                    <!-- <div style="float:right; width:10%">
                    <i class="mdi-content-clear" style="margin-top:12px; margin-left:6px; text-align:center;" id="closeIcon"></i>
                    </div> -->
                    <!-- </div> -->

                </div>
            </div>
            <div class="col-xs-12" style="padding-right:4px;">
                <a id="set-precise-time-btn" class="btn btn-sm btn-flat btn-material-pink-A200 bottom-op-btn"
                   href="{% url 'event_scheduling:set_precise_time_html' event_hid %}"
                   style="display:none;">编辑时间
                </a>
                <button class="btn btn-sm btn-flat btn-material-pink-A200 bottom-op-btn" id="shareLink">复制链接发给朋友
                </button>
            </div>
        </div>
    </div>



    <div class="modal" id="myModal" style="vertical-align: middle">
        <div class="modal-dialog" style="">
            <div class="modal-content  text-center">
                <div class="modal-body">
                    <p>确定删除 " <span id="delete-display-name"></span> " 吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="confirm-btn" type="button" class="btn btn-material-pink-A200" data-dismiss="modal">确认
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionaljs %}
    <script>
        var get_eut_url = "{%  url 'event_scheduling:get_euts_for_event'  event_hid %}";
        var save_eut_url = "{% url 'event_scheduling:save_eut' %}";
        var delete_eut_url = "{% url 'event_scheduling:delete_eut' %}";
        var TIME_TYPE_PRECISE_TIME_TIME = {{ TIME_TYPE_PRECISE_TIME_TIME }};
        var TIME_TYPE_MORNING_AFTERNOON_EVENING_TIME = {{TIME_TYPE_MORNING_AFTERNOON_EVENING_TIME}};
        var TIME_TYPE_WHOLE_DAY_TIME = {{TIME_TYPE_WHOLE_DAY_TIME}};

        var event_hid = "{{ event_hid }}";
        var MIN_NAME_LENGTH = {{ MIN_NAME_LENGTH }};
        var MIN_CELL_WIDTH = {{ MIN_CELL_WIDTH }};
        var MIN_WIDE_CELL_WIDTH = {{ MIN_WIDE_CELL_WIDTH }};
        var event_name =
                "{{ event.name }}";
        var dates = [
            {% for timeslot in event.get_timeslots_ordered %}
                {
                    "timeslot_key":{{ timeslot.pk }},
                    "date": "{{ timeslot.get_date_str }}",
                    "time": "{{ timeslot.get_time_str }}",
                    "time_type": "{{ timeslot.time_type }}"
                },
            {% endfor %}
        ]


    </script>
    <script src="{% static 'event_scheduling/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/fastclick.js' %}"></script>
    <script src="{% static 'event_scheduling/js/velocity.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/plan_detail.js' %}"></script>

{% endblock %}