{% extends "event_scheduling/base_site.html" %}
{% load staticfiles %}
{% block additionalcss %}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'event_scheduling/css/nouislider.min.css' %}"/>#}
    <link type="text/css" href="{% static 'event_scheduling/css/bootstrap-timepicker.min.css' %}"/>
{% endblock %}
{% block body %}

    <div class="container" id="homeContainer">

        <br>

        <div class="row">
            <div class="col-xs-12" style="padding-left:10px;padding-right:4px; margin-top:6px;">
                <span id="eventTitle">{{ event.name }} </span><span class="light-bg-disabled-hint">选择时间</span>
            </div>
        </div>
        <div class="row">
            <hr style="margin-right: 10px;margin-top: 5px;margin-left: 10px;">
        </div>


        <div id="dates-div" class=" text-center">
            {% regroup event.get_timeslots_ordered by get_date_str as timeslot_by_date %}

            {% for get_date_str in timeslot_by_date %}
                <div class="row light-bg-primary date-row">
                    <div class="col-xs-12 col-md-4 col-lg-2 text-center" style=" padding-top: 23px;">
                        <span class="date-str">{{ get_date_str.grouper }}</span>
                    </div>
                    <div class="col-md-8 col-lg-10">
                        {% for item in get_date_str.list %}
                            <div class="col-xs-6 col-md-6 col-lg-2 set-precise-time-cell">
                                <div class="input-group">

                                    <input type="text"
                                           class=" text-center timepicker-input form-control form-control-pink-A200"
                                           placeholder="输入时间" data-hint="智能识别，空白默认全天" value="{{ item.get_time_str }}"
                                           data-date="{{ get_date_str.grouper }}" style="">
                                    <span class="input-group-addon" style="padding:0px; padding-bottom: 15px;">
                                        <i class="icon-btn mdi-content-clear delete-time-slot"></i>
                                    </span>
                                </div>


                            </div>
                        {% endfor %}

                        <div class="col-xs-6 col-md-6 col-lg-2 set-precise-time-cell form-group text-center"
                             style=" padding-top: 9px;">
                            <i class="mdi-content-add icon-btn-lg-center icon-btn add-time-slot"
                               data-date="{{ get_date_str.grouper }}"></i>
                        </div>
                    </div>
                </div>
            {% endfor %}
        <button id="submit-timeslots" class="btn btn-raised btn-material-pink-A200">提交</button>
        </div>


    </div>



    <script>
        var days = [
            {% regroup event.get_timeslots_ordered by get_date_str as timeslot_by_date %}
            {% for get_date_str in timeslot_by_date %}
                {
                    "date":{{ get_date_str.grouper }}
                },
            {% endfor %}
        ]
    </script>

{% endblock %}

{% block additionaljs %}
    <script>
        var set_times_for_precise_time_event_url = "{%  url 'event_scheduling:set_times_for_precise_time_event'  event_hid %}";
        var TIME_TYPE_PRECISE_TIME_TIME = {{ TIME_TYPE_PRECISE_TIME_TIME }};
        var event_name = "{{ event.name }}";
        var event_hid = "{{ event_hid }}";
    </script>
    <script src="{% static 'event_scheduling/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/fastclick.js' %}"></script>
    <script src="{% static 'event_scheduling/js/velocity.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/moment.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/moment-zh-cn.js' %}"></script>
    <script src="{% static 'event_scheduling/js/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/set_precise_time.js' %}"></script>

{% endblock %}