{% extends "event_scheduling/base_site.html" %}
{% load staticfiles %}
{% block additionalcss %}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'event_scheduling/css/nouislider.min.css' %}"/>#}
{% endblock %}
{% block body %}
    <div class="container" id="homeContainer">
        set_precise_time


    </div>


{% endblock %}

{% block additionaljs %}
    <script>
        var TIME_TYPE_PRECISE_TIME_TIME = {{ TIME_TYPE_PRECISE_TIME_TIME }};

    </script>
    <script src="{% static 'event_scheduling/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/fastclick.js' %}"></script>
    <script src="{% static 'event_scheduling/js/velocity.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/nouislider.min.js' %}"></script>
    <script src="{% static 'event_scheduling/js/create_date.js' %}"></script>

{% endblock %}