body, h1 {
    font-family: "Microsoft YaHei", "STXihei";
    background-color: #fff;
    overflow-x: hidden;
}

#homeContainer {
    margin-top: 10px;
}

/*can or cannot use this to set the cursor for disabled button */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    pointer-events: none;
}

a:hover {
    text-decoration: none;
    color: #00B7FF;
}

#promoList {
    list-style-type: none;
    font-size: 1.2em;
    padding: 0px;
    margin: 0px;
}

.page-title {
    margin-top: 4px;
    border-width: 0px 0px 1px 0px;
    border-color: #888888;
    border-style: solid;
    padding: 6px;
}

#eventTitle, .titleCreate {
    border: 0px;
    width: 100%;
    padding: 6px;
    font-size: 1.4em;
    color: #000;
    line-height: 40px;
    border-width: 0px 0px 1px 0px;
    border-color: #888888;
    border-style: solid;

}

#eventTitle {
    color: #888;
}

.titleCreate {
    width: 100%;
    color: #388E3C;
}

.titleCreate::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #f44336;
}

.titleCreate:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #f44336;
    opacity: 1;
}

.titleCreate::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #f44336;
    opacity: 1;
}

.titleCreate:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #f44336;
}

#planALink {
    text-align: center;
    position: fixed;
    background-color: #e2e2e2;
    color: #888;
    top: 0px;
    padding: 0px 6px 6px 6px;
    right: 6px;
    cursor: pointer;
    border-radius: 0px 0px 3px 3px;
}

#planALink:hover {
    color: #000;
}

#yourName {
    width: 98%;
    border-style: solid;
    border-color: #ff0000;
    border-width: 0px 0px 1px 0px;
    padding: 2px;
    margin-right: 4px;
    height: 45px;
}

#whatToDo {
    color: #fff;
    float: left;
    background-color: #888888;
    padding: 4px;
    border-radius: 0px 3px 3px 0px;
    margin: 2px;
}

.datepicker-inline, .table-condensed {
    width: 100% !important;
}

.datepicker table tr td {
    padding: 4px !important;
}

.datepicker table {
    border-spacing: 2px !important;
    border-collapse: separate;
}

.datepicker table tr td.today {
    background-color: #e2e2e2 !important;
    background-image: none !important;
}

.datepicker table tr td.active {
    background-color: #03a9f4 !important;
    background-image: none !important;
}
col:first-child {background: #F5F5F5;}
col:nth-child(2n+3) {background: #F5F5F5;}

#leftNames, #rightDates {
    width: 100%;
    border-collapse: collapse;
}

#rightDates {
    width: 100%;
    text-align: center;
}

#rightDates td {
    min-width: 50px;
}

#leftNames td {
    width: 100%;
}

#leftNames, #rightDates th, td {

    height: 48px;
    vertical-align: middle;

}

.tdDateNo {
    background-color: #FDD6DB !important;
}

.tdDate {
    background-color: #e2e2e2;
}

.tdDateChecked {
    background-color: #C9FACD;
}

#firstMonth {
    text-align: right;
    padding-right: 4px;
}

.monthSeperator {
    /*background-color:#BBE7ED;*/
}

#cantGo {
    float: right;
}

#allDone, #cantGo, #edit {
    margin-top: 2px;
    margin-bottom: 2px;
    float: right;
}

.tdIcon {
    opacity: 0.4;
}
#shareLink {
  margin-top:48px;
  float:right;
}

.highestCol {
    border-style: inset;
    border-width: 1px;
    border-color: green;
}

#dateCount {
    float: right;
}
#urlMessage {
  margin-top:32px;
  font-size:1em;
  padding:3px;
}
input.datesCheck + *{
    pointer-events: none;
}